body{
    font-family:"Roboto",sans-serif;
    color: #434455;
    background-color: #fff;
}



/*reset*/



ul , ol{
    list-style-type:none;
    margin: 0;
    padding: 0;
}

a{
   text-decoration: none;
}

h1,h2,h3,h4,h5,h6,p{
    margin: 0;
}



/*common*/



.container{
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}



/*header*/


.page-header{
    border-bottom: 1px solid #e7e9fc;
}

.header-container{
    display: flex;
    align-items: center;
}

.nav{
    display: flex;
    align-items: center;
}

.nav-list{
    display: flex;
    align-items: center;
    padding: 24px 0;
    gap: 40px;
}

.nav-address-list{
    display: flex;
    align-items: center;
    padding: 24px 0;
    gap: 40px;
}


.nav-logo{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    padding: 24px 0;
    padding-right: 74px;
}

.nav-logo-item{
    color: #2e2f42;
}

.nav-list-link{
    display: block;
    padding: 24px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.nav-address-link{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.nav-list-link:hover,
.nav-list-link:focus{
color: #404bbf;
}

.nav-address-link:hover,
.nav-address-link:focus{
    color: #404bbf;
}

.nav-address{
    font-style: normal;
    margin-left: auto;
}





/*section-one*/




.section-one{
    background: #2e2f42;
}

.section-one-text{
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    padding-top: 188px;
    padding-bottom: 48px;
}

.section-one-button{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff; 
    background: #4d5ae5;
    cursor: pointer;
    margin-bottom: 188px;
    border-radius: 4px;
    padding: 16px 32px;
    width: 169px;
    height: 56px;
}

.section-one-button:hover,
.section-one-button:focus{
  background-color: #404bbf;
}



/*section-two*/



.section-two-list{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.section-two-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}



/*section-three*/

.section-three{
    background: #f4f4fd;
}

.section-three-list-item{
    background-color:#FFFFFF;
}


.section-three-content{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
}

.section-three-names{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}

.section-three-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
}





/*section-four*/




.section-four-content{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
}

.section-four-names{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.section-four-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455; 
}



/*fotter*/



.footer{
    background-color: #2e2f42;
}

.footer-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}

.nav-logo-footer{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:#4d5ae5;
}

.nav-logo-item-footer{
    color:#f4f4fd;
}